<div class="row align-items-center"style="background-color: antiquewhite; height: 5vh">
    <div class="col-1 offset-1">
    <button type="button" class="btn btn-secondary">Font Style</button>
 </div>
    <div class="col-1">
        <button type="button" class="btn btn-secondary">Font Size</button>
</div>


</div>
<!-- <div class="row">
    <div class="col" style="background-color: antiquewhite; text-align: center;">boop</div>
    <div class="col" style="background-color: black; text-align: center;">boop</div>
    <div class="col" style="background-color: antiquewhite; text-align: center;">boop</div>
    <div class="col" style="background-color: black; text-align: center;">boop</div>
    <div class="col" style="background-color: antiquewhite; text-align: center;">boop</div>
    <div class="col" style="background-color: black; text-align: center;">boop</div>
    <div class="col" style="background-color: antiquewhite; text-align: center;">boop</div>
    <div class="col" style="background-color: black; text-align: center;">boop</div>
  </div> -->